@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* General */
* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(3, 3, 3);
}

body {
  background-color: rgb(250, 250, 250);
}

h1 {
  font-size: 18px;
  margin-bottom: 14px;
}

h2 {
  font-weight: bold;
  margin-bottom: 7px;
}

small {
  color: rgb(96, 96, 96);
}

.smaller {
  font-size: 13px;
}

img {
  vertical-align: middle;
}

a {
  text-decoration-line: none;
}

button:hover {
  cursor: pointer;
}

.border-bottom {
  border-bottom: solid 0.5px rgb(180, 180, 180) !important;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navbar-left {
  margin-left: 10px;
}

.navbar-right {
  margin-right: 20px;
}

.navbar-icon {
  margin: 0 15px;
}

.navbar img {
  opacity: 0.8;
}

.logo-mockup {
  font-weight: 600;
  opacity: 1;
}

.searchbar {
  width: 33vw;
  display: flex;
}

.searchbar input {
  width: auto;
  height: 32px;
  flex-grow: 1;
  border: solid 0.5px rgb(204, 204, 204);
  border-radius: 2px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
  padding-left: 20px;
  font-size: 16px;
}

.searchbar button {
  width: 70px;
  border: solid 0.5px rgb(204, 204, 204);
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: rgb(245, 245, 245);
}

.searchbar button:hover {
  background-color: rgb(226, 226, 226);
}

.searchbar button:hover img {
  opacity: 1;
}

.alternate-search {
  display: none;
}

@media (max-width: 720px) {
  .searchbar {
    display: none;
  }

  .alternate-search {
    display: block;
  }
}

.sign-in-btn {
  border: 1px solid rgb(6, 95, 212);
  background-color: white;
  color: rgb(6, 95, 212);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding: 7px 12px;
  border-radius: 2px;
}

.sign-in-btn img {
  margin-right: 5px;
}

/* Grid */

.grid {
  margin: 56px auto 0;
  width: 95%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "main"
    "sidebar"
    "comments";
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: auto 30%;
    grid-template-areas:
      "main sidebar"
      "comments sidebar";
  }
}

@media (min-width: 1200px) {
  /*378px video + 260px header and description + 24px padding top*/
  .grid {
    grid-template-rows: 662px auto;
  }
}

@media (min-width: 1400px) {
  /*441px video + 246px header and description + 24px padding top*/
  .grid {
    grid-template-rows: 711px auto;
  }
}

@media (min-width: 1700px) {
  /*441px video + 232px header and description + 24px padding top*/
  .grid {
    grid-template-rows: 697px auto;
  }
}

/* Main Elements */

main {
  grid-area: main;
  padding: 24px 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  width: 336px;
  height: 189px;
}

@media (min-width: 600px) {
  iframe {
    width: 560px;
    height: 315px;
  }
}

@media (min-width: 800px) {
  iframe {
    width: 672px;
    height: 378px;
  }
}

@media (min-width: 1400px) {
  iframe {
    width: 784px;
    height: 441px;
  }
}

.main-header {
  margin-top: 14px;
  padding-bottom: 14px;
}

.icongroup {
  float: right;
}

.icongroup img {
  position: relative;
  z-index: -1;
  opacity: 40%;
  margin-right: 10px;
  vertical-align: baseline;
}

.icongroup .lower-opacity {
  opacity: 70%;
}

.icongroup span {
  margin: 10px;
  color: rgb(63, 63, 63);
}

.main-section {
  margin-top: 20px;
  display: flex;
  padding-bottom: 14px;
}

.avatar {
  margin-right: 20px;
  margin-top: -10px;
}

.subscribe {
  float: right;
  border: none;
  border-radius: 2px;
  background-color: rgb(214, 2, 2);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
}

.main-description {
  width: 60%;
  min-width: 300px;
  padding-top: 14px;
}

.show-more {
  background-color: transparent;
  border: none;
  padding: 7px 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: rgb(96, 96, 96);
}

/* Comments */

.comments {
  grid-area: comments;
  padding: 24px 24px 0;
}

.avatar-comments {
  border-radius: 50%;
}

.comment-section-header {
  display: flex;
  margin-bottom: 24px;
}

.comment-section-header h1 {
  font-size: 16px;
  font-weight: 300;
}

.comment-section-header span {
  font-size: 14px;
  font-weight: 600;
  color: rgb(96, 96, 96);
  margin-left: 30px;
}

.comment-section-header img {
  position: relative;
  z-index: -1;
  opacity: 50%;
}

.add-comment-form {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.add-comment-form form {
  width: 100%;
  margin-right: 24px;
}

.add-comment-form input {
  margin-left: 24px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: rgb(250, 250, 250);
}

.single-comment {
  display: flex;
  margin-bottom: 24px;
}

.comment-flex-col-2 {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  font-size: 13px;
}

.comment-flex-col-2 header a {
  display: flex;
}

.comment-flex-col-2 footer a:hover img {
  opacity: 0.7;
}

.comment-flex-col-2 h1 {
  font-size: 13px;
  font-weight: 600;
  margin: 0 5px 12px 0;
}

.comment-flex-col-2 p {
  font-size: 14px;
  margin-bottom: 20px;
}

.reply {
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(96, 96, 96);
}

/* Sidebar */

aside {
  grid-area: sidebar;
  padding: 24px 24px 0 0;
}

@media (max-width: 1199px) {
  aside {
    padding-left: 24px;
  }
}

/* Sidebar Header*/

.aside-header {
  margin-bottom: 14px;
}
.aside-header > .video-card {
  margin-bottom: 14px;
}

.autoplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 13px;
}

.autoplay > h1 {
  margin-bottom: 0;
  font-size: 16px;
}

input[type="range"] {
  -moz-appearance: none;
  appearance: none;
  width: 35px;
  height: 14px;
  background-color: rgb(228, 228, 228);
  border-radius: 35%;
  vertical-align: middle;
}

input[type="range"]::-webkit-slider-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px;
  background-color: rgb(151, 151, 151);
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px;
  background-color: rgb(151, 151, 151);
}

/* Sidebar Content*/

.video-card a {
  display: flex;
  margin: 7px 0;
}

.video-card a:hover .sidebar-info-icon {
  display: block;
}

.video-card img {
  flex: none;
}

.video-info {
  margin-left: 10px;
  max-width: 250px;
}

.video-info * {
  padding-bottom: 4px;
}

.video-info > h1 {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
}

.sidebar-info-icon {
  float: right;
  position: relative;
  z-index: -1;
  opacity: 60%;
  margin-left: 30px;
  display: none;
}
