@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* General */
* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(3, 3, 3);
}

body {
  background-color: rgb(245, 245, 245);
}

h1 {
  font-size: 18px;
  margin-bottom: 14px;
}

h2 {
  font-weight: bold;
  margin-bottom: 7px;
}

small {
  color: rgb(96, 96, 96);
}

.smaller {
  font-size: 13px;
}

img {
  vertical-align: middle;
}

a {
  text-decoration-line: none;
}

.border-bottom {
  border-bottom: solid 0.5px rgb(180, 180, 180);
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navbar-left {
  margin-left: 30px;
}

.navbar-right {
  margin-right: 30px;
}

.navbar-icon {
  margin: 0 15px;
}

.sign-in-btn {
  border: 1px solid blue;
  background-color: white;
  color: blue;
}

/* Grid */

.grid {
  margin: 70px auto 0;
  width: 75%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-areas:
    "main sidebar"
    "comments sidebar";
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-areas:
      "main"
      "sidebar"
      "comments";
  }
}

/* Main Elements */

main {
  grid-area: main;
  padding: 24px 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  width: 336px;
  height: 189px;
}

@media (min-width: 800px) {
  iframe {
    width: 560px;
    height: 315px;
  }
}

@media (min-width: 1200px) {
  iframe {
    width: 672px;
    height: 378px;
  }
}

@media (min-width: 1600px) {
  iframe {
    width: 784px;
    height: 441px;
  }
}

.main-header {
  margin-top: 14px;
  padding-bottom: 14px;
}

.icongroup {
  float: right;
}

.icongroup img {
  position: relative;
  z-index: -1;
  opacity: 40%;
  margin-right: 10px;
  vertical-align: baseline;
}

.icongroup .lower-opacity {
  opacity: 70%;
}

.icongroup span {
  margin: 10px;
  color: rgb(63, 63, 63);
}

.main-section {
  margin-top: 20px;
  display: flex;
  padding-bottom: 14px;
}

.avatar {
  margin-right: 20px;
  margin-top: -10px;
}

.subscribe {
  float: right;
  border: none;
  border-radius: 2px;
  background-color: rgb(214, 2, 2);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
}

.main-description {
  width: 60%;
  min-width: 300px;
  padding-top: 14px;
}

.show-more {
  background-color: transparent;
  border: none;
  padding: 7px 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: rgb(96, 96, 96);
}

/* Comments */

.comments {
  grid-area: comments;
}

/* Sidebar */

aside {
  grid-area: sidebar;
}

/* Sidebar Header*/

.aside-header {
  margin-bottom: 14px;
}
.aside-header > .video-card {
  margin-bottom: 14px;
}

.autoplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.autoplay > h1 {
  margin-bottom: 0;
  font-size: 16px;
}

input[type="range"] {
  width: 30px;
  height: 20px;
  vertical-align: middle;
}

/* Sidebar Content*/

.video-card {
  display: flex;
  margin: 7px 0;
}

.video-card img {
  flex: none;
}

.video-info {
  margin-left: 10px;
}

.video-info * {
  padding-bottom: 4px;
}

.video-info > h1 {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
}
